@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

* {
  background-color: rgb(229, 239, 248);
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: 'Montserrat', sans-serif;
  margin-top: 30px;
}

.title {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
}

.infos {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}

.st-block {
  display: flex;
  flex-direction: column;
}

.nd-block {
  display: flex;
  flex-direction: column;
}

.rd-block{
  display: flex;
  flex-direction: column;
}

.infos input {
  width: 300px;
  height: 25px;
  font-size: 18px;
  padding-left: 10px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  background-color: rgba(255, 255, 255, 0.349);
  border-radius: 8px;
  box-shadow: 5px 5px 10px rgb(197, 197, 197);  
  padding: 15px;
}

.btn {
  display: flex;
  flex-direction: column;
}


textarea {
  width: 300px;
  height: 100px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 8px;
  background-color: rgba(255, 255, 255, 0.349);
  box-shadow: 5px 5px 10px rgb(197, 197, 197);  
  font-family: 'Montserrat', sans-serif;
}

button {
  width: 100px;
  height: 40px;
  margin-top: 8px;
  border-radius: 8px;
  border: none;
  text-decoration: none;
  color: white;
  font-weight: bold;
  box-shadow: 5px 5px 10px rgb(197, 197, 197);  
}

button:hover {
  cursor: pointer;
}

.btn-main {
  background-color: rgb(96, 184, 96);
}

.btn-edit {
  background-color: green;
}

.btn-delete {
  background-color: rgb(172, 0, 0);
}

.infos label {
  justify-content: start
}

.divider {
  margin-left: auto;
  margin-right: auto;
}

.estoque {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  
}

.estoq {
  width: 700px;
  height: 100px;
  border: 1px solid black;
  margin: 10px;
  display: flex;
  padding: 10px;
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;
  border-radius: 8px;
  background-color: rgba(255, 255, 255, 0.589);
}

.estoq h3 {
  margin: 20px;
  background-color: rgba(255, 255, 255, 0.589);
}
